torch
einops
deeplake[enterprise]
accelerate
pydantic
pyyaml
transformers
bitsandbytes
git+https://github.com/huggingface/peft  # peft bleeding edge version need for kbit training
smart_open
scipy
torchvision
matplotlib
